* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

body {
    background-color: rgb(5, 27, 55);
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
        /* background-color: red; */
    }
}

@media (max-width: 1140px) {
    .container {
        width: 940px;
        /* background-color: green; */
    }

    .profile {
        margin-left: -100px;
    }
}

@media (max-width: 1040px) {
    .container {
        width: 840px;
        /* background-color: aqua; */
        margin-left: -200px;
    }
}

@media (max-width: 940px) {
    .container {
        width: 740px;
        /* background-color: blue; */
    }
}

@media (max-width: 840px) {
    .container {
        width: 640px;
        /* background-color: coral; */
    }
}

@media (max-width: 740px) {
    .container {
        width: 540px;
        /* background-color: pink; */
    }

    .profile {
        margin-left: -160px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 440px;
        /* background-color: purple;     */
    }

    h1 {
        font-size: 20px;
    }

    .my-img {
        
    }
}

@media (max-width: 540px) {
    .container {
        width: 340px;
        /* background-color: red; */
    }
}

@media (max-width: 440px) {
    .container {
        width: 240px;
        /* background-color: green; */
    }
}

@media (max-width: 340px) {
    .container {
        width: 140px;
        /* background-color: aqua; */
    }

    .profile {
        margin-top: -100px;
        margin-right: 2000px;
    }
}

.profile {
    margin-top: -100px;
    border: 2px solid red;
}

.my-img {
    width: 200px;
    border-radius: 50%;
    margin-left: 440px;
    margin-top: 200px;
}

h1 {
    color: white;
    margin-top: 50px;
    margin-left: 430px;
    text-align: center;
    width: 220px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icons {
    display: flex;
    width: 200px;
    margin-top: 20px;
    margin-left: 455px;
    justify-content: space-between;
}


.telegram {
    font-size: 20px;
}

.insta-icon {
    color: rgb(131, 15, 15);
    font-size: 20px;
}

.icons i {
    margin-left: 20px;
}

.icons a {
    width: 50px;
    text-align: center; 
}

i {
    animation-duration: 2;
    animation-name: icon;
    animation-iteration-count: infinite;
}

.icon {
    transform: translate(1.2);
}

.pro {
    
}